{% extends 'eventspace/base_template.html' %}

{% block content %}
<br><br>
<div class="card mb-4" style="width: 50%; height: 20rem;">
    <div class="card-header">
        <h2><strong>Event Name: </strong>{{event.title}}</h2>
    </div>
    <div class="card-body">
        <h5 class="card-text"><strong>Description: </strong>{{ event.description }}</h5>
        <h5 class="card-text"><strong>When: </strong>{{ event.date }}</h5>
        <h5 class="card-text"><strong>Where: </strong>{{ event.location }}</h5>


    </div>
</div>
<a href="{% url 'event-list' %}" class="btn btn-primary btn-lg">Back to Events</a>
{% endblock content%}